<% content_for :title do %>Gitlab Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="merge-requests" data-view="List" data-unordered="true" data-title="Currently Open Merge Requests" data-moreinfo="Open Merge Requests"></div>
    </li>
  </ul>
</div>